body {
    background-image: url("C:/Users/david/KU-Bootcamp-Work/Basic-Portfolio/Assets/images/gravel.png");
    margin: 0;
    padding: 0;
    font-family: monospace;
}

header {
    background: #ffffff;
    border-bottom: #180101 2px solid;
    height: 100px;
    margin-top: 0;
}

.namePlate {
    background: purple;
    color: white;
    font-size: 30px;
    width: 200px;
    text-align: center;
    margin: 0 0 0 460px;
    padding: 32px;
    position: absolute;
}

#links {
     float: right;
     position: relative;
     margin: 70px 460px 0 0;
     font-size: 20px;
 }

a:visited {
    color: gray;
 }

a:hover {
    background: lightgray;
 }

.contact {
    background-color: #ffffff;
    max-width: 960px;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
}

h2 {
    color: purple;
    font-size: 28px;
    margin: auto;
    padding: 10px;
    border-bottom: 2px solid lightgray;
}

input, textarea {
    width: 960px;
    box-sizing: border-box;
    font: 2em;
    padding: 10px;
    border: 1px solid gray;
}

textarea {
    height: 350px;
}

form {
    font-size: 1.5em;
    line-height: 1.25em;
    margin-top: 10px;
}

button {
   background: purple;
   color: white;
   font-size: 1.5em;
   margin-bottom: 20px;
   padding: 10px;
}

footer {
    color: white;
    text-align: center;
    background: black;
    height: 60px;
    border-top: 5px solid purple;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: [footer-height];
}